<li class="separator acl-write"></li>
<li class="acl-write font-color-icon ep_font_colors_rgb">
  <button type="button"
          class="buttonicon ep-font-colors-rgb-button"
          title="Font color"
          aria-label="Font color"
          aria-haspopup="true"
          aria-expanded="false"
          aria-controls="ep-font-colors-rgb-panel"></button>
</li>
